#container {
  background-color: black;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

#text{
  font-size: 1.6em;
  color: white;
}

.logo {
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
}
